/* General Style Rules*/
body{
    margin:0;
    background-color: #D7F5FF;
    font-family: 'Raleway', sans-serif;
}
main{
    width: 100vw;
    min-width: 800px;
    
}
section{
    margin: auto;
    width: 85%;
    text-align: center;
    color: #ffffff;
}

article{
    margin: auto;
    margin-top: 20px;
    width: 85%;
    text-align: center;
    color: #ffffff;
}
input, button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #C584D6;
    border-color: darkslateblue;
    border-radius: 5px;
    text-align: center;
    color:#ffffff;
    padding: 8px 22px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2);
    display: block;

}

a:link, a:visited  {
    text-decoration: none;
    color:#ffffff;
}

/*CLASS Style Rules*/
.answerElements{
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 240px;
    max-width: 80%;
}

/*IDs Style Rules*/
#buttonElement, #restartElement {
    display: inline;
    padding: 8px 30px;
    margin-top: 60px;
    border-radius: 8px;
}
#inputElement{
    display: inline;
    margin: ;
}
#answer1Element {

}
#answer2Element {

}
#answer3Element {

}
#answer4Element {

}
#submitElement {
    float:right;
    margin-right: 10px;
    margin-top: 0px;
    display: inline;
}
#nextQuestionElement {
    float: right;
    margin-right: 10px;
    margin-top: 0px;
    display: none;
}
#questionElement {
    display: block;
    padding: 20px;
}
#progressElement {
    float: left;
    display: block;
    padding: 10px;
}
#resultElement {
    display: block;
    padding: 20px;
}
#continueElement {
    margin: auto;
    width: 120px;
}
#wrapQuestion{
    margin:auto;
    padding-bottom: 55px;
    margin-left:80px;
    margin-right:80px; 
    background-color: #8584D6;
}
#quizName{
    margin:auto;
    margin-left:80px;
    margin-right:80px;
    padding-top: 20px;
    padding-bottom:20px;
    display: block;
    float: both;
    font-size: 30px;
    background-color: #8584D6;
}

#quizNameSubline{
    display: block;
    background-color: #8584D6;
    margin:auto;
    margin-left:80px;
    margin-right:80px;
}
#headLogo{
    
    margin-top:5px;
    padding:5px;
    height: 60px;
    float:left;
}